NationalParks.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="NationalParks">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NationalPark" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NationalPark">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
                <xsd:element name="Address">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Number" type="xsd:string" maxOccurs="1"></xsd:element>
                            <xsd:element name="Street" type="xsd:string" maxOccurs="1"></xsd:element>
                            <xsd:element name="City" type="xsd:string" maxOccurs="1"></xsd:element>
                            <xsd:element name="State" type="xsd:string" maxOccurs="1"></xsd:element>
                            <xsd:element name="Zip" type="xsd:string" maxOccurs="1"></xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Rating" type="xsd:double" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="PhoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>